<div>
  <div> 
    </br>
    <h1><%= link_to(enki_config[:title], '/') %></h1> 
    </br>
  </div>
  <% if flash[:error] %>
    <div><%= flash[:error] %></div><% end %>
  <div>
    <%= form_tag(admin_session_path) do -%>
      <% if allow_login_bypass? -%>
        <div>
        <%= label_tag 'bypass_login', 'Bypass credentials check' %> 
        <%= check_box_tag 'bypass_login' %> 
        </div>
      <% end -%>

    </br>
    <div><%= submit_tag "Login with Google", :class => "btn" %></div>
    </br>
    <% end -%>
  </div>
</div>
