<div id="summary">

<h1><%= link_to(enki_config[:title], '/') %></h1>
<p class="stats"><%= pluralize(@stats.post_count, 'post') %>, <%= pluralize(@stats.tag_count, 'tag') %></p>
</div>

<div id="recent-posts" class="panel">
<h2>Latest Posts</h2>
<ul>
  <% @posts.each_with_index do |post, i| -%>
    <li class="<%= i == 0 ? 'first ' : '' %>item">
      <span class='label label-info'><%= post.published_at.strftime("%b %e") %></span>
      <span class='post'>
        <%= link_to(truncate(post.title, :length => 50), admin_post_path(post)) %>
      </span>
      <div class='count'><%= link_to(post.approved_comments.size, post_path(post)+"#disqus_thread") %></div>
    </li>
  <% end -%>
</ul>
</div>

<div id="quick-links">
<h2> Quick Links </h2>
<ul>
  <li><%= link_to("Google Analytics", "https://www.google.com/analytics/web/?hl=en&pli=1#dashboard/ohkP-VAITyW3DnBvOovG7g/a28305182w53986089p54884299/", {:class => "btn btn-info" , :target => "_blank"}) %>
  </li>

  <li><%= link_to("Heroku New Relics", "https://heroku.newrelic.com/accounts/233804/applications/1637546", {:class => "btn btn-primary" ,:target => "_blank"}) %>
  </li>

  <li><%= link_to("Disqus dashboard", "http://gforgavin.disqus.com/admin/moderate/", {:class => "btn btn-success" ,:target => "_blank"}) %>
</ul>
</div>
