<div class="title">
<h1>Recent actions</h1>
</div>
<table class="table table-hover">
  <thead>
    <tr>
      <th>Date</th>
      <th>Description</th>
      <th>Action</th>
    </tr>
  </thead>

  <tbody>
  <% @undo_items.each do |undo_item| -%>
    <tr class="<%= cycle('', 'alt') %>">
      <td><span class="btn btn-small btn-info"><%= undo_item.created_at.strftime('%d %b, %Y') %></span></td>
      <td><%= undo_item.description %></td>
      <td>
        <%= form_for(undo_item, :as => :undo_item, :url => undo_admin_undo_item_path(undo_item), :html => {:class => 'undo-item', :method => :post}) do |form| -%>
          <%= submit_tag 'Undo', :confirm => 'Are you sure?', :class => 'btn btn-success' %>
        <% end -%>
      </td>
    </tr>
  <% end -%>
  </tbody>
</table>
